Repository FelixGail/Musicbot-web, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, client, server, ci, docker

Maintenance/update dependencies (#97)
  .github/workflows/ci.yml
  package.json
  packages/client/package.json
  packages/client/src/components/login/Login.tsx
  packages/client/src/core/api/loginHook.ts
  packages/client/src/setupProxy.js
  packages/server/.gitignore
  packages/server/package.json
  yarn.lock
Labels: repository, client, server, ci

remove yarn install from docker file
  docker/Dockerfile
Labels: docker

Hide Password field on username change (close #96)
  packages/client/src/components/login/LoginForm.tsx
Labels: client

Refractor user calls, login after bot restart (close #1)
  packages/client/src/components/login/LoginForm.tsx
  packages/client/src/components/login/SetupConnection.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/core/api/loginHook.ts
  packages/client/src/core/api/model.ts
  packages/client/src/core/user/user.ts
Labels: client

remove unused files
  packages/client/src/core/hooks/useEquallingReload.ts
  packages/client/src/core/hooks/useUpdateOnChange.ts
Labels: client

implement fullscreen (close #18)
  packages/client/src/components/playing/listen/Current.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/style/style.scss
Labels: client

Refractor user calls, login after bot restart (close #1) (#111)
  packages/client/src/components/login/LoginForm.tsx
  packages/client/src/components/login/SetupConnection.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/core/api/loginHook.ts
  packages/client/src/core/api/model.ts
  packages/client/src/core/user/user.ts
Labels: client

Add missing FullscreenContext file
  packages/client/src/core/context/FullscreenContext.ts
Labels: client

Feature/fullscreen (#117)
  packages/client/src/components/playing/listen/Current.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/style/style.scss
  packages/client/src/core/context/FullscreenContext.ts
  packages/client/src/core/hooks/useEquallingReload.ts
  packages/client/src/core/hooks/useUpdateOnChange.ts
Labels: client

Refractor with prettier
  packages/client/src/components/App.tsx
  packages/client/src/components/playing/add/SearchRouter.tsx
  packages/client/src/components/playing/snippets/AlbumArt.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemAction.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
  packages/client/src/components/util/ScreenNavigation.tsx
  packages/client/src/core/context/PlayerStateContext.ts
  packages/client/src/core/hooks/usePlayerStateContext.ts
Labels: client

.github/labeler.yml:

repository:
  - ./*

client:
  - packages/client/*
  - packages/client/**/*

server:
  - packages/server/*
  - packages/server/**/*

ci:
  - .github/*
  - .github/**/*

docker:
  - docker/*
