Repository FelixGail/Musicbot-web, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, client, server, ci, docker

Remove node_modules before uploading client prod build (#49)
  .github/workflows/ci.yml
Labels: ci

refractor ci
  .github/workflows/ci.yml
Labels: ci

change arm upload name in ci
  .github/workflows/ci.yml
Labels: ci

fix build job path
  .github/workflows/ci.yml
Labels: ci

try fixing pkg cmd
  .github/workflows/ci.yml
Labels: ci

add debug to ci
  .github/workflows/ci.yml
Labels: ci

Install pkg module
  .github/workflows/ci.yml
Labels: ci

fix brainlag typo
  .github/workflows/ci.yml
Labels: ci

move production files to workdir
  .github/workflows/ci.yml
Labels: ci

rename from build to bin, run pkg on current dir
  .github/workflows/ci.yml
Labels: ci

refractor ci (#51)
  .github/workflows/ci.yml
Labels: ci

Fix Readme typo
  README.md
Labels: repository

Add Interceptor layer, refresh token after expiration
  packages/client/src/components/App.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/core/api/loginHook.ts
Labels: client

Fix/refresh token (#52)
  README.md
  packages/client/src/components/App.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/SongList.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/core/api/loginHook.ts
Labels: repository, client

Allow multiple children in Interceptorlayer
  packages/client/src/components/util/InterceptorLayer.tsx
Labels: client

Add ContextModal component
  packages/client/src/components/util/ContextModal.tsx
Labels: client

Refractor SongList
  packages/client/src/components/playing/add/Stars.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/SongList.tsx
  packages/client/src/components/playing/snippets/SongPanes.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemAction.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemExtra.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/playing/snippets/songlist/SongListItem.tsx
Labels: client

Remove split into SongList/SongEntryList
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
Labels: client

Fix navigation placing
  packages/client/src/components/style/style.scss
Labels: client

fix queue/history styling
  packages/client/src/components/style/style.scss
Labels: client

Add working modal (unstyled) [WIP]
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/ContextSongEntryList.tsx
  packages/client/src/components/playing/snippets/songlist/DefaultSongEntryList.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/playing/snippets/songlist/SongListItem.tsx
  packages/client/src/components/util/ContextModal.tsx
Labels: client

changes to reload handling, unfinished
  packages/client/src/components/App.tsx
  packages/client/src/components/playing/PlayRouter.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/playing/snippets/songlist/SongListItem.tsx
  packages/client/src/components/style/style.scss
  packages/client/src/components/util/Conditional.tsx
  packages/client/src/components/util/ContextModal.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
  packages/client/src/components/util/Permissional.tsx
  packages/client/src/core/api/model.ts
  packages/client/src/core/hooks/reloadHook.ts
  packages/client/src/core/hooks/useArrayEquals.ts
  packages/client/src/core/hooks/useEquallingReload.ts
  packages/client/src/core/hooks/useHasPermission.ts
  packages/client/src/core/hooks/useTypedDefault.ts
  packages/client/src/core/hooks/useUpdateOnChange.ts
  packages/client/src/core/types.ts
Labels: client

Prevent Components from updating every render
  packages/client/package.json
  packages/client/src/components/App.tsx
  packages/client/src/components/login/LoginForm.tsx
  packages/client/src/components/playing/PlayRouter.tsx
  packages/client/src/components/playing/listen/Current.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/AlbumArt.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/components/util/ScreenNavigation.tsx
  packages/client/src/core/context/PlayerStateContext.ts
  packages/client/src/core/hooks/usePlayerStateContext.ts
  yarn.lock
Labels: repository, client

remove signing from ci
  .github/workflows/ci.yml
Labels: ci

Change update behavior
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemAction.tsx
  packages/client/src/components/util/ContextModal.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
Labels: client

move overflow scroll out of specific container for layout
  packages/client/src/components/style/style.scss
Labels: client

Add working backtop button for add
  packages/client/src/components/playing/add/SearchRouter.tsx
  packages/client/src/components/style/style.scss
Labels: client

don't use props for history/location, wrap in memo
  packages/client/src/components/playing/add/SearchRouter.tsx
Labels: client

add clear button to search
  packages/client/src/components/playing/add/Search.tsx
Labels: client

change server index.js to executable
  packages/server/index.js
Labels: server

remove unused import in searchrouter
  packages/client/src/components/playing/add/SearchRouter.tsx
Labels: client

Feature/route context menu (#59)
  .github/workflows/ci.yml
  packages/client/package.json
  packages/client/src/components/App.tsx
  packages/client/src/components/login/LoginForm.tsx
  packages/client/src/components/playing/add/Search.tsx
  packages/client/src/components/playing/add/SearchRouter.tsx
  packages/client/src/components/playing/add/Stars.tsx
  packages/client/src/components/playing/listen/Current.tsx
  packages/client/src/components/playing/listen/History.tsx
  packages/client/src/components/playing/listen/ListenFooter.tsx
  packages/client/src/components/playing/listen/ListenRouter.tsx
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/AlbumArt.tsx
  packages/client/src/components/playing/snippets/SongList.tsx
  packages/client/src/components/playing/snippets/SongPanes.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemAction.tsx
  packages/client/src/components/playing/snippets/songlist/SongItemExtra.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/playing/snippets/songlist/SongListItem.tsx
  packages/client/src/components/style/style.scss
  packages/client/src/components/util/Conditional.tsx
  packages/client/src/components/util/ContextModal.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
  packages/client/src/components/util/InterceptorLayer.tsx
  packages/client/src/components/util/Permissional.tsx
  packages/client/src/components/util/ScreenNavigation.tsx
  packages/client/src/core/api/model.ts
  packages/client/src/core/context/PlayerStateContext.ts
  packages/client/src/core/hooks/reloadHook.ts
  packages/client/src/core/hooks/useArrayEquals.ts
  packages/client/src/core/hooks/useEquallingReload.ts
  packages/client/src/core/hooks/useHasPermission.ts
  packages/client/src/core/hooks/usePlayerStateContext.ts
  packages/client/src/core/hooks/useTypedDefault.ts
  packages/client/src/core/hooks/useUpdateOnChange.ts
  packages/client/src/core/types.ts
  packages/server/index.js
  yarn.lock
Labels: repository, client, server, ci

Move modal route logic into modal component
  packages/client/src/components/playing/listen/Queue.tsx
  packages/client/src/components/playing/snippets/songlist/SongList.tsx
  packages/client/src/components/util/DefaultContextModal.tsx
Labels: client

Fix status footer not updating on state change
  packages/client/src/components/playing/listen/ListenFooter.tsx
Labels: client

Update toplevel (pkg,lerna)
  package.json
  yarn.lock
Labels: repository

Add config gitignore to server
  packages/server/.gitignore
Labels: server

Update Server dependencies
  packages/server/package.json
  yarn.lock
Labels: repository, server

Update client dependencies, change client accordingly
  packages/client/package.json
  packages/client/src/components/login/Login.tsx
  packages/client/src/core/api/loginHook.ts
  packages/client/src/setupProxy.js
  yarn.lock
Labels: repository, client

Use node 12.2.0 for build, as pkg is missing 12.3.1 binaries for arm
  .github/workflows/ci.yml
Labels: ci

try setting arm node version directly
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

repository:
  - ./*

client:
  - packages/client/*
  - packages/client/**/*

server:
  - packages/server/*
  - packages/server/**/*

ci:
  - .github/*
  - .github/**/*

docker:
  - docker/*
